env {
    // NOTE This is how nf-core/sarek users will use Sentieon in real world use
    SENTIEON_LICENSE = "$SENTIEON_LICSRVR_IP"
    // NOTE This should only happen in GitHub actions or nf-core MegaTests
    SENTIEON_AUTH_MECH = "$SENTIEON_AUTH_MECH"
    SENTIEON_AUTH_DATA = secrets.SENTIEON_AUTH_DATA
    // NOTE This is how nf-core/sarek users will test out Sentieon in Sarek with a license file
    // SENTIEON_LICENSE_BASE64 = secrets.SENTIEON_LICENSE_BASE64

    // The following code sets LD_LIBRARY_PATH in the script-section when the module is run by Singularity.
    // That turned out to be one way of overcoming the following issue with the Singularity-Sentieon-containers from galaxy, Sentieon (LD_LIBRARY_PATH) and the way Nextflow runs Singularity-containers.
    // The galaxy container uses a runscript which is responsible for setting LD_PRELOAD properly. Nextflow executes singularity containers using `singularity exec`, which avoids the run script, leading to the LD_LIBRARY_PATH/libstdc++.so.6 error.
    if (workflow.containerEngine in ['singularity','apptainer']) {
        LD_LIBRARY_PATH ="/usr/local/lib/:\$LD_LIBRARY_PATH;"
    }
}

process {
    withName: 'SENTIEON_BWAMEM' {
        ext.args = "-R \"@RG\\tID:sample_lane\\tPU:lane\\tSM:patient_sample\\tLB:sample\\tDS:fasta\\tPL:seqplatform\""
    }
}
