process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    
    withName: RIBOCODE_METAPLOTS {
        ext.args = ' --frame0_percent  0.02'
    }
    withName: STAR_ALIGN {
        ext.args = '--readFilesCommand zcat --outSAMtype BAM SortedByCoordinate --quantMode TranscriptomeSAM GeneCounts --outFilterMultimapNmax 1 --outFilterMatchNmin 16 --alignEndsType EndToEnd'
        }
}